<h1>New Note</h1>
<form>
  <fieldset class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" id="title" name="title" ng-model="note.title">
  </fieldset>

  <fieldset class="form-group">
      <label for="category">Category</label>
      <select ng-model="note.category_id">
       <option value="">---Please select---</option>
       <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
     </select>
    </fieldset>

  <fieldset class="form-group">
    <label for="description">Description</label>
    <input class="form-control" type="text" id="description" name="description" ng-model="note.description">
  </fieldset>

  <fieldset class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" type="text" id="content" name="content" ng-model="note.content"></textarea>
  </fieldset>

  <input type="Submit" value="{{isSubmitting ? 'Saving...' : 'Submit'}}" class="btn btn-default" ng-click="saveNote(note)" ng-disabled="isSubmitting"></input>

</form>
