<h1> Notes <a class="btn btn-default" href="#/notes/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New Note</a></h1>
<div class="form-group">
  Search: <input type="text" ng-model="search.input">
</div>
<category-selector ng-model=search.category></category-selector>
<div class = "row">
  <div ng-repeat="note in notes | categoryFilter:search.category | filter:search.input" class="col-sm-6 col" style="float: right; text-align: center">
      <div class="card card-block" style="width: 20rem;">
              <h2 class="card-title"><a title="{{note.name}}" ng-href="#/notes/{{note.id}}">{{note.title}}</a></h3>
              <p class="card-text">{{note.description}}</p>
              <p><span class="label label-info">{{note.name}}</span></p>
      </div>
  </div>
</div>

<div class="gridListdemoBasicUsage">
<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="6px" md-gutter-gt-sm="8px">

        <md-grid-tile class="thoughts"
              md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
              <h3>Thoughts</h3>
          </md-grid-tile>

          <md-grid-tile class="wishes">
              <h3>Wishes</h3>
          </md-grid-tile>

          <md-grid-tile class="ideas">
              <h3>Ideas</h3>
          </md-grid-tile>

          <md-grid-tile class="gossip"
              md-rowspan="2">
              <h3>Gossip</h3>
          </md-grid-tile>

          <md-grid-tile class="memories">
              <h3>Memories</h3>
          </md-grid-tile>

          <md-grid-tile class="other"
              md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
          <!--  <md-grid-tile-footer> -->
              <h3>Other</h3>
          <!--  </md-grid-tile-footer> -->
          </md-grid-tile>

          <md-grid-tile class="dreams"
              md-rowspan="2" >
              <h3>Dream</h3>
          </md-grid-tile>

          <md-grid-tile class="gratitude">
              <h3>Gratitude</h3>
          </md-grid-tile>

        </md-grid-list>
</div>
