<div class="gridListdemoBasicUsage">
<md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="6px" md-gutter-gt-sm="8px">

        <md-grid-tile class="ideas"
              md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
              <h1><a ng-href="#/notes/ideas">Ideas</a></h1>
          </md-grid-tile>

          <md-grid-tile class="wishes">
              <h1><a ng-href="#/notes/wishes">Wishes</a></h1>
          </md-grid-tile>

          <md-grid-tile class="memories">
              <h1><a ng-href="#/notes/memories">Memories</a></h1>
          </md-grid-tile>

          <md-grid-tile class="thoughts" md-rowspan="2">
              <h1><a ng-href="#/notes/thoughts">Thoughts</a></h1>
          </md-grid-tile>

          <md-grid-tile class="gossip">
              <h1><a ng-href="#/notes/gossip">Gossip</a></h1>
          </md-grid-tile>

          <md-grid-tile class="dreams"
              md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
              <h1><a ng-href="#/notes/memories/dreams">Dreams</a></h1>
          </md-grid-tile>

          <md-grid-tile class="chitChat"
              md-rowspan="2" >
              <h1><a ng-href="#/notes/memories/chit_chat">Chit Chat</a></h1>
          </md-grid-tile>

          <md-grid-tile class="all">
              <h1><a ng-href="#/notes/memories/all">All</a></h1>
          </md-grid-tile>

        </md-grid-list>
</div>
